.experienceStyle {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 5px;
}

.addForm {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.addForm button {
    background-color: #ffff;
    height: 70px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addForm button h2 {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(216, 211, 211);
}